.top-main {
    display: flex;
    object-fit: fill;
    width: 30%;
    height: 30%;
    /* position: fixed; */
    z-index: -1;
}

video {
    display: flex;
    object-fit: fill;
    border-radius: 20%;
    z-index: -1;
}

.head-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vh;
}

.in-text {
    display: flex;
}

.main-container {
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.forbidden-fruit {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    width: 60%;
    margin: 30px 0px;
}

.forbidden-img {
    display: flex;
    width: 50vh;
    /* float: left; */
    height: 50vh;
    border-radius: 5%;
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px, rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

.par-text {
    /* display: flex; */
    /* justify-content: space-around; */
    width: 100vh;
    height: 12vh;
}

.main-container>h2 {
    color: #fff;
    /* font-size: 100px; */
    margin-top: -100px;
}

.main-container>p {
    margin-top: 8px;
    color: #fff;
}

.par-text {
    width: 30%;
    margin: 5px;
}

.btn-begin-journey {
    margin-top: 32px;
}

.btn-begin-journey .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .main-container>h3 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .main-container>h3 {
        font-size: 50px;
        margin-top: -100px;
    }
    .main-container>p {
        font-size: 30px;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}

.btn-continue-journey {
    margin-top: 10px;
}