.head_central-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 80vh;
    height: 50vh;
    margin-bottom: 100px;
}

.central_head {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.central_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 50vh;
    height: 50vh;
    margin-bottom: 100px;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}